<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>subjectDemographicsServiceImpl</servlet-name>
    <servlet-class>org.pvk.mimic.server.SubjectDemographicsServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>patientNoteServiceImpl</servlet-name>
    <servlet-class>org.pvk.mimic.server.PatientNoteServiceImpl</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>labResultServiceImpl</servlet-name>
    <servlet-class>org.pvk.mimic.server.LabResultServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>subjectDemographicsServiceImpl</servlet-name>
    <url-pattern>/mimicviewer/subjectDemographics</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>patientNoteServiceImpl</servlet-name>
    <url-pattern>/mimicviewer/patientNotes</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>labResultServiceImpl</servlet-name>
    <url-pattern>/mimicviewer/labResults</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>MimicViewer.html</welcome-file>
  </welcome-file-list>

</web-app>
